.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.data-table {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 22px;
}

.listinput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.particles {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.home {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 1000;
}
.home-wrapper{
  display: block;
}
.contact-form {
  margin: 40px auto 0 auto;
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: white !important;
  -webkit-box-shadow: 0 0 0 30px #3b4353 inset !important;
  caret-color: white;
}